{% set block = (content) %}

<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap py-0">

        {% if block.name == 'why_section' %}
            {% include 'partials/_section_why.twig' with { content: block } %}
        {% endif %}

        {% if block.name == 'shop_section' %}
            {% include 'partials/_section_shop_by_category.twig' with { content: block } %}
        {% endif %}

        {% if block.name == 'new_section' %}
            {% include 'partials/_section_new_arrivals.twig' %}
        {% endif %}

        {% if block.name == 'explore_section' %}
            {% include 'partials/_section_explore.twig' %}
        {% endif %}

        {% if block.name == 'fetured_section' %}
            {% include 'partials/_section_fetured.twig' %}
        {% endif %}

        {% if block.name == 'instagram_section' %}
            {% include 'partials/_section_instagram.twig' %}
        {% endif %}

    </div>
</section>
<!-- #content end -->
