<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap py-0">

        {% include 'partials/_boxes_about.twig' %}

        {% include 'partials/_people_about.twig' %}

        {% include 'partials/_faq_about.twig' %}

    </div>
</section>
<!-- #content end -->
