<!-- Hero Section
		============================================= -->
<section id="slider" class="slider-element min-vh-md-100 vh-50" style="background-image: linear-gradient(to bottom, rgba(255,255,255,.8), rgba(255,255,255,0)), url('demos/furniture/images/about/hero.jpg'); background-position: center 10%; background-size: cover;">

    <div
        class="container">

        <!-- Hero Text
        				============================================= -->
        <div class="row min-vh-md-100 vh-50 justify-content-center align-items-md-start align-items-center text-center pt-md-5">
            <div class="col-lg-6 mt-lg-3">
                <p class="op-07 mb-3 text-uppercase ls2 text-smaller">Know more about us</p>
                <h1 class="display-4 fw-medium mb-5">Your Home is a Reflection of Your Personality</h1>
            </div>
        </div>

    </div>

</section>

<!-- Content
		============================================= -->
<section id="content">
    <div
        class="content-wrap py-0">

        <!-- 1. Section
        				============================================= -->
        <div class="section custom-bg my-0" style="--custom-bg: #FAF8F0;">
            <div class="container py-md-5">

                <div class="container">
                    <div
                        class="row col-mb-50">

                        <!-- feature-box 1 -->
                        <div class="col-md-4">
                            <div class="feature-box fbox-center fbox-dark fbox-plain">
                                <div class="fbox-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#AEBE89" viewbox="0 0 256 256">
                                        <rect width="256" height="256" fill="none"></rect>
                                        <path d="M54.46089,201.53911c-9.204-9.204-3.09935-28.52745-7.78412-39.85C41.82037,149.95168,24,140.50492,24,127.99963,24,115.4945,41.82047,106.048,46.67683,94.31079c4.68477-11.32253-1.41993-30.6459,7.78406-39.8499s28.52746-3.09935,39.85-7.78412C106.04832,41.82037,115.49508,24,128.00037,24c12.50513,0,21.95163,17.82047,33.68884,22.67683,11.32253,4.68477,30.6459-1.41993,39.8499,7.78406s3.09935,28.52746,7.78412,39.85C214.17963,106.04832,232,115.49508,232,128.00037c0,12.50513-17.82047,21.95163-22.67683,33.68884-4.68477,11.32253,1.41993,30.6459-7.78406,39.8499s-28.52745,3.09935-39.85,7.78412C149.95168,214.17963,140.50492,232,127.99963,232c-12.50513,0-21.95163-17.82047-33.68884-22.67683C82.98826,204.6384,63.66489,210.7431,54.46089,201.53911Z" opacity="0.2"></path>
                                        <path d="M54.46089,201.53911c-9.204-9.204-3.09935-28.52745-7.78412-39.85C41.82037,149.95168,24,140.50492,24,127.99963,24,115.4945,41.82047,106.048,46.67683,94.31079c4.68477-11.32253-1.41993-30.6459,7.78406-39.8499s28.52746-3.09935,39.85-7.78412C106.04832,41.82037,115.49508,24,128.00037,24c12.50513,0,21.95163,17.82047,33.68884,22.67683,11.32253,4.68477,30.6459-1.41993,39.8499,7.78406s3.09935,28.52746,7.78412,39.85C214.17963,106.04832,232,115.49508,232,128.00037c0,12.50513-17.82047,21.95163-22.67683,33.68884-4.68477,11.32253,1.41993,30.6459-7.78406,39.8499s-28.52745,3.09935-39.85,7.78412C149.95168,214.17963,140.50492,232,127.99963,232c-12.50513,0-21.95163-17.82047-33.68884-22.67683C82.98826,204.6384,63.66489,210.7431,54.46089,201.53911Z" fill="none" stroke="#AEBE89" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></path>
                                        <polyline points="172 104 113.333 160 84 132" fill="none" stroke="#AEBE89" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></polyline>
                                    </svg>
                                </div>
                                <div class="fbox-content">
                                    <h2 class="nott fw-medium h4 mb-4">Original & Excellent Quality</h2>
                                    <p class="op-06">Completely formulate top-line resources rather than cross-media portals cross-platform solutions.</p>
                                </div>
                            </div>
                        </div>

                        <!-- feature-box 2 -->
                        <div class="col-md-4">
                            <div class="feature-box fbox-center fbox-dark fbox-plain">
                                <div class="fbox-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#0d5293" viewbox="0 0 256 256">
                                        <rect width="256" height="256" fill="none"></rect>
                                        <path d="M176,144H16v40a8,8,0,0,0,8,8H44a24,24,0,0,1,48,0h72a23.99048,23.99048,0,0,1,11.99813-20.78815Z" opacity="0.2"></path>
                                        <path d="M212,192a24.00631,24.00631,0,0,0-36.00187-20.78815L176,120h64v64a8,8,0,0,1-8,8H212" opacity="0.2"></path>
                                        <path d="M240,120H176V80h42.58374a8,8,0,0,1,7.42781,5.02887Z" fill="none" stroke="#0d5293" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></path>
                                        <line x1="16" y1="144" x2="176" y2="144" fill="none" stroke="#0d5293" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></line>
                                        <circle cx="188" cy="192" r="24" fill="none" stroke="#0d5293" stroke-miterlimit="10" stroke-width="8"></circle>
                                        <circle cx="68" cy="192" r="24" fill="none" stroke="#0d5293" stroke-miterlimit="10" stroke-width="8"></circle>
                                        <line x1="164" y1="192" x2="92" y2="192" fill="none" stroke="#0d5293" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></line>
                                        <path d="M44,192H24a8,8,0,0,1-8-8V72a8,8,0,0,1,8-8H176V171.21508" fill="none" stroke="#0d5293" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></path>
                                        <path d="M176,171.21508V120h64v64a8,8,0,0,1-8,8H212" fill="none" stroke="#0d5293" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></path>
                                    </svg>
                                </div>
                                <div class="fbox-content">
                                    <h2 class="nott fw-medium h4 mb-4">Free & Fast Shipping</h2>
                                    <p class="op-06">Rapidiously optimize user-centric catalysts for change vis-a-vis granular "outside the box" thinking.</p>
                                </div>
                            </div>
                        </div>

                        <!-- feature-box 3 -->
                        <div class="col-md-4">
                            <div class="feature-box fbox-center fbox-dark fbox-plain">
                                <div class="fbox-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#f66dc2" viewbox="0 0 256 256">
                                        <rect width="256" height="256" fill="none"></rect>
                                        <path d="M40,106.66667V48a8,8,0,0,1,8-8H208a8,8,0,0,1,8,8v58.66667c0,84.01533-71.306,111.85016-85.5438,116.57058a7.54755,7.54755,0,0,1-4.9124,0C111.306,218.51683,40,190.682,40,106.66667Z" opacity="0.2"></path>
                                        <path d="M40,106.66667V48a8,8,0,0,1,8-8H208a8,8,0,0,1,8,8v58.66667c0,84.01533-71.306,111.85016-85.5438,116.57058a7.54755,7.54755,0,0,1-4.9124,0C111.306,218.51683,40,190.682,40,106.66667Z" fill="none" stroke="#f66dc2" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></path>
                                        <polyline points="172 96 113.333 152 84 124" fill="none" stroke="#f66dc2" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"></polyline>
                                    </svg>
                                </div>
                                <div class="fbox-content">
                                    <h2 class="nott fw-medium h4 mb-4">Secure Payment</h2>
                                    <p class="op-06">Continually recaptiualize 2.0 action items after global information. Efficiently strategize holistic networks.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Section End -->


        <!-- 2. Section
        				============================================= -->
        <div class="section bg-transparent my-0 py-0">
            <div class="container-fluid">

                <div class="clear"></div>

                <!-- 1 -->
                <div
                    class="row align-items-md-center">
                    <!-- Image -->
                    <div class="col-md-6 px-lg-0 min-vh-50 min-vh-lg-75 d-flex align-self-stretch" style="background: url('demos/furniture/images/about/1.jpg') no-repeat center center; background-size: cover;"></div>

                    <!-- Content -->
                    <div class="col-md-6 p-5 p-lg-6">
                        <h3 class="h3 bottommargin fw-medium px-lg-5">1. 100% Trustable & Best Quality</h3>
                        <p class="m-0 px-lg-5">Compellingly cultivate synergistic infrastructures rather than fully tested opportunities. Synergistically evisculate web-enabled interfaces for market positioning web services. Continually create business infomediaries and interdependent products.</p>
                    </div>
                </div>

                <div class="clear"></div>

                <!-- 2 -->
                <div
                    class="row flex-md-row-reverse align-items-md-center">
                    <!-- Image -->
                    <div class="col-md-6 px-lg-0 min-vh-50 min-vh-lg-75 d-flex align-self-stretch" style="background: url('demos/furniture/images/about/2.jpg') no-repeat center center; background-size: cover;"></div>

                    <!-- Content -->
                    <div class="col-md-6 p-5 p-lg-6">
                        <h3 class="h3 bottommargin fw-medium px-lg-5">2. No Extra Charges for Shipping</h3>
                        <p class="m-0 px-lg-5">Continually aggregate scalable metrics for vertical paradigms. Rapidiously pontificate low-risk high-yield web-readiness via ethical e-business. Phosfluorescently actualize 24/365 architectures rather than multimedia based leadership skills. Collaboratively embrace go.</p>
                    </div>
                </div>

                <div class="clear"></div>

                <!-- 3 -->
                <div
                    class="row align-items-md-center">
                    <!-- Image -->
                    <div class="col-md-6 px-lg-0 min-vh-50 min-vh-lg-75 d-flex align-self-stretch" style="background: url('demos/furniture/images/about/3.jpg') no-repeat center center; background-size: cover;"></div>

                    <!-- Content -->
                    <div class="col-md-6 p-5 p-lg-6">
                        <h3 class="h3 bottommargin fw-medium px-lg-5">3. Secure Payment Options</h3>
                        <p class="m-0 px-lg-5">Continually aggregate scalable metrics for vertical paradigms. Rapidiously pontificate low-risk high-yield web-readiness via ethical e-business. Phosfluorescently actualize 24/365 architectures rather than multimedia based leadership skills. Collaboratively embrace go.</p>
                    </div>
                </div>

                <div class="clear"></div>

                <!-- 4 -->
                <div
                    class="row flex-md-row-reverse align-items-md-center">
                    <!-- Image -->
                    <div class="col-md-6 px-lg-0 min-vh-50 min-vh-lg-75 d-flex align-self-stretch" style="background: url('demos/furniture/images/about/4.jpg') no-repeat center center; background-size: cover;"></div>

                    <!-- Content -->
                    <div class="col-md-6 p-5 p-lg-6">
                        <h3 class="h3 bottommargin fw-medium px-lg-5">4. 30 Days Return Policy</h3>
                        <p class="m-0 px-lg-5">Continually aggregate scalable metrics for vertical paradigms. Rapidiously pontificate low-risk high-yield web-readiness via ethical e-business. Phosfluorescently actualize 24/365 architectures rather than multimedia based leadership skills. Collaboratively embrace go.</p>
                    </div>
                </div>

            </div>
        </div>
        <!-- Section End -->

        <!-- 3. Section
        				============================================= -->
        <div class="section m-0 bg-color-light">
            <div class="container py-md-4">

                <h2 class="h1 fw-normal text-center bottommargin-lg">Frequently asked
                    <span data-animate="svg-underline-animated" class="svg-underline nocolor">
                        <span>Questions</span>
                    </span>
                </h2>
                <div class="row justify-content-center">
                    <div
                        class="col-xl-6 col-lg-7">

                        <!-- FAQs Toggle -->
                        <div class="toggle">
                            <div class="toggle-header justify-content-between flex-row-reverse">
                                <div class="toggle-icon">
                                    <i class="toggle-closed icon-line-plus"></i>
                                    <i class="toggle-open icon-line-minus"></i>
                                </div>
                                <div class="toggle-title h5 mb-0 fw-medium font-primary">
                                    How do I become an author?
                                </div>
                            </div>
                            <div class="toggle-content op-07 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
                        </div>

                        <div class="line border-color my-4 op-01"></div>

                        <!-- FAQs Toggle -->
                        <div class="toggle">
                            <div class="toggle-header justify-content-between flex-row-reverse">
                                <div class="toggle-icon">
                                    <i class="toggle-closed icon-line-plus"></i>
                                    <i class="toggle-open icon-line-minus"></i>
                                </div>
                                <div class="toggle-title h5 mb-0 fw-medium font-primary">
                                    Helpful Resources for Authors
                                </div>
                            </div>
                            <div class="toggle-content op-07 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
                        </div>

                        <div class="line border-color my-4 op-01"></div>

                        <!-- FAQs Toggle -->
                        <div class="toggle">
                            <div class="toggle-header justify-content-between flex-row-reverse">
                                <div class="toggle-icon">
                                    <i class="toggle-closed icon-line-plus"></i>
                                    <i class="toggle-open icon-line-minus"></i>
                                </div>
                                <div class="toggle-title h5 mb-0 fw-medium font-primary">
                                    How much money can I make?
                                </div>
                            </div>
                            <div class="toggle-content op-07 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
                        </div>

                        <div class="line border-color my-4 op-01"></div>

                        <!-- FAQs Toggle -->
                        <div class="toggle">
                            <div class="toggle-header justify-content-between flex-row-reverse">
                                <div class="toggle-icon">
                                    <i class="toggle-closed icon-line-plus"></i>
                                    <i class="toggle-open icon-line-minus"></i>
                                </div>
                                <div class="toggle-title h5 mb-0 fw-medium font-primary">
                                    Can I offer my items for free on a promotional basis?
                                </div>
                            </div>
                            <div class="toggle-content op-07 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
                        </div>

                        <div class="line border-color my-4 op-01"></div>

                        <!-- FAQs Toggle -->
                        <div class="toggle">
                            <div class="toggle-header justify-content-between flex-row-reverse">
                                <div class="toggle-icon">
                                    <i class="toggle-closed icon-line-plus"></i>
                                    <i class="toggle-open icon-line-minus"></i>
                                </div>
                                <div class="toggle-title h5 mb-0 fw-medium font-primary">
                                    An Introduction to the Marketplaces for Authors
                                </div>
                            </div>
                            <div class="toggle-content op-07 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
                        </div>

                        <div class="line border-color my-4 op-01"></div>

                        <!-- FAQs Toggle -->
                        <div class="toggle">
                            <div class="toggle-header justify-content-between flex-row-reverse">
                                <div class="toggle-icon">
                                    <i class="toggle-closed icon-line-plus"></i>
                                    <i class="toggle-open icon-line-minus"></i>
                                </div>
                                <div class="toggle-title h5 mb-0 fw-medium font-primary">
                                    How does the Tuts+ Premium affiliate program work?
                                </div>
                            </div>
                            <div class="toggle-content op-07 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- #content end -->
