{% dump(section) %}
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap py-0">

        {% include 'partials/_section_why.twig' %}

        {% include 'partials/_section_shop_by_category.twig' %}

        {% include 'partials/_section_new_arrivals.twig' %}

        {% include 'partials/_section_explore.twig' %}

        {% include 'partials/_section_fetured.twig' %}

        {% include 'partials/_section_instagram.twig' %}

    </div>
</section>
<!-- #content end -->
