{% set block = (content) %}

<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap py-0">

        {% if block.name == 'boxes_section' %}
            {% include 'partials/_boxes_about.twig' with { content: block } %}
        {% endif %}

        {% if block.name == 'people_section' %}
            {% include 'partials/_people_about.twig' with { content: block } %}
        {% endif %}

        {% if block.name == 'faq_section' %}
            {% include 'partials/_faq_about.twig' with { content: block } %}
        {% endif %}

    </div>
</section>
<!-- #content end -->
