{% set block = (content) %}

{% if block.visible == 1 %}
<!-- 3. Section
============================================= -->
<div class="section m-0 bg-color-light">
    <div class="container py-md-4">

        <h2 class="h1 fw-normal text-center bottommargin-lg">Frequently asked
            <span data-animate="svg-underline-animated" class="svg-underline nocolor">
                <span>Questions</span>
            </span>
        </h2>
        <div class="row justify-content-center">
            <div
                class="col-xl-6 col-lg-7">

                <!-- FAQs Toggle -->
                <div class="toggle">
                    <div class="toggle-header justify-content-between flex-row-reverse">
                        <div class="toggle-icon">
                            <i class="toggle-closed icon-line-plus"></i>
                            <i class="toggle-open icon-line-minus"></i>
                        </div>
                        <div class="toggle-title h5 mb-0 fw-medium font-primary">
                            How do I become an author?
                        </div>
                    </div>
                    <div class="toggle-content op-07 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
                </div>

                <div class="line border-color my-4 op-01"></div>

                <!-- FAQs Toggle -->
                <div class="toggle">
                    <div class="toggle-header justify-content-between flex-row-reverse">
                        <div class="toggle-icon">
                            <i class="toggle-closed icon-line-plus"></i>
                            <i class="toggle-open icon-line-minus"></i>
                        </div>
                        <div class="toggle-title h5 mb-0 fw-medium font-primary">
                            Helpful Resources for Authors
                        </div>
                    </div>
                    <div class="toggle-content op-07 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
                </div>

                <div class="line border-color my-4 op-01"></div>

                <!-- FAQs Toggle -->
                <div class="toggle">
                    <div class="toggle-header justify-content-between flex-row-reverse">
                        <div class="toggle-icon">
                            <i class="toggle-closed icon-line-plus"></i>
                            <i class="toggle-open icon-line-minus"></i>
                        </div>
                        <div class="toggle-title h5 mb-0 fw-medium font-primary">
                            How much money can I make?
                        </div>
                    </div>
                    <div class="toggle-content op-07 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
                </div>

                <div class="line border-color my-4 op-01"></div>

                <!-- FAQs Toggle -->
                <div class="toggle">
                    <div class="toggle-header justify-content-between flex-row-reverse">
                        <div class="toggle-icon">
                            <i class="toggle-closed icon-line-plus"></i>
                            <i class="toggle-open icon-line-minus"></i>
                        </div>
                        <div class="toggle-title h5 mb-0 fw-medium font-primary">
                            Can I offer my items for free on a promotional basis?
                        </div>
                    </div>
                    <div class="toggle-content op-07 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
                </div>

                <div class="line border-color my-4 op-01"></div>

                <!-- FAQs Toggle -->
                <div class="toggle">
                    <div class="toggle-header justify-content-between flex-row-reverse">
                        <div class="toggle-icon">
                            <i class="toggle-closed icon-line-plus"></i>
                            <i class="toggle-open icon-line-minus"></i>
                        </div>
                        <div class="toggle-title h5 mb-0 fw-medium font-primary">
                            An Introduction to the Marketplaces for Authors
                        </div>
                    </div>
                    <div class="toggle-content op-07 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
                </div>

                <div class="line border-color my-4 op-01"></div>

                <!-- FAQs Toggle -->
                <div class="toggle">
                    <div class="toggle-header justify-content-between flex-row-reverse">
                        <div class="toggle-icon">
                            <i class="toggle-closed icon-line-plus"></i>
                            <i class="toggle-open icon-line-minus"></i>
                        </div>
                        <div class="toggle-title h5 mb-0 fw-medium font-primary">
                            How does the Tuts+ Premium affiliate program work?
                        </div>
                    </div>
                    <div class="toggle-content op-07 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endif %}
