<!-- Footer
============================================= -->
<footer id="footer" class="border-0 bg-white">
    <div
        class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap py-lg-6">
            <div
                class="row col-mb-30">

                <!-- Footer Col 1 -->
                <div class="col-lg-2 col-md-3 col-6">
                    <div class="widget widget_links widget-li-noicon">

                        <h4 class="ls0 nott">Social</h4>

                        <ul class="list-unstyled iconlist ms-0">
                            <li>
                                <a href="https://facebook.com/semicolonweb" target="_blank">
                                    <i class="icon-facebook"></i>
                                    Facebook</a>
                            </li>
                            <li>
                                <a href="https://instagram.com/semicolonweb" target="_blank">
                                    <i class="icon-instagram"></i>
                                    Instagram</a>
                            </li>
                            <li>
                                <a href="https://twitter.com/__semicolon" target="_blank">
                                    <i class="icon-twitter"></i>
                                    Twitter</a>
                            </li>
                            <li>
                                <a href="https://youtube.com/c/SemiColonweb/videos" target="_blank">
                                    <i class="icon-youtube"></i>
                                    YouTube</a>
                            </li>
                            <li>
                                <a href="https://wa.me/00112233344">
                                    <i class="icon-whatsapp"></i>
                                    WhatsApp</a>
                            </li>
                        </ul>

                    </div>
                </div>

                <!-- Footer Col 2 -->
                <div class="col-lg-2 col-md-3 col-6">
                    <div class="widget widget_links widget-li-noicon">

                        <h4 class="ls0 nott">Support</h4>

                        <ul class="list-unstyled iconlist ms-0">
                            <li>
                                <a href="demo-furniture.html">Home</a>
                            </li>
                            <li>
                                <a href="demo-furniture-about.html">About</a>
                            </li>
                            <li>
                                <a href="demo-furniture-contact.html">Contact</a>
                            </li>
                        </ul>

                    </div>
                </div>

                <!-- Footer Col 3 -->
                <div class="col-lg-2 col-md-3 col-6">
                    <div class="widget widget_links widget-li-noicon">

                        <h4 class="ls0 nott">Trending</h4>

                        <ul class="list-unstyled iconlist ms-0">
                            <li>
                                <a href="demo-furniture-products.html">Shop</a>
                            </li>
                            <li>
                                <a href="demo-forum-single.html">Single</a>
                            </li>
                            <li>
                                <a href="demo-furniture-about.html">Who are we</a>
                            </li>
                        </ul>

                    </div>
                </div>

                <!-- Footer Col 4 -->
                <div class="col-lg-2 col-md-3 col-6">
                    <div class="widget widget_links widget-li-noicon">

                        <h4 class="ls0 nott">Get to Know us</h4>

                        <ul class="list-unstyled iconlist ms-0">
                            <li>
                                <a href="intro.html#section-niche">Niche Demos</a>
                            </li>
                            <li>
                                <a href="intro.html#section-multipage">Home Pages</a>
                            </li>
                            <li>
                                <a href="intro.html#section-onepage">One Pages</a>
                            </li>
                        </ul>

                    </div>
                </div>

                <!-- Footer Col 5 -->
                <div class="col-lg-4">
                    <div class="widget subscribe-widget clearfix" data-loader="button">
                        <h4>Subscribe Us</h4>
                        <h5 class="font-body op-04">
                            <strong>Subscribe</strong>
                            to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
                        <div class="widget-subscribe-form-result"></div>
                        <form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="mb-0">
                            <div class="input-group">
                                <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email Address">
                                <button class="btn btn-dark bg-color px-3 input-group-text" type="submit">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
        <!-- .footer-widgets-wrap end -->

    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights" class="py-3 bg-color-light">
        <div class="container">

            <div class="d-flex justify-content-between op-04">
                <span>&copy; 2020 All Rights Reserved by Canvas Inc.</span>
                <div class="copyright-links">
                    <a href="#">Terms of Use</a>
                    /
                    <a href="#">Privacy Policy</a>
                </div>
            </div>

        </div>
    </div>
    <!-- #copyrights end -->
</footer>
<!-- #footer end -->
