<!-- Hero Section
		============================================= -->
<section id="slider" class="slider-element min-vh-md-100 vh-50" style="background-image: linear-gradient(to bottom, rgba(255,255,255,.8), rgba(255,255,255,0)), url('demos/furniture/images/about/hero.jpg'); background-position: center 10%; background-size: cover;">

    <div
        class="container">

        <!-- Hero Text
        				============================================= -->
        <div class="row min-vh-md-100 vh-50 justify-content-center align-items-md-start align-items-center text-center pt-md-5">
            <div class="col-lg-6 mt-lg-3">
                <p class="op-07 mb-3 text-uppercase ls2 text-smaller">Know more about us</p>
                <h1 class="display-4 fw-medium mb-5">Your Home is a Reflection of Your Personality</h1>
            </div>
        </div>

    </div>

</section>