{% set block = (content) %}

{% if block.visible == 1 %}
<!-- 2. Section
    ============================================= -->
<div class="section bg-transparent my-0 py-0">
    <div class="container-fluid">

        <div class="clear"></div>

        <!-- 1 -->
        <div
            class="row align-items-md-center">
            <!-- Image -->
            <div class="col-md-6 px-lg-0 min-vh-50 min-vh-lg-75 d-flex align-self-stretch" style="background: url('demos/furniture/images/about/1.jpg') no-repeat center center; background-size: cover;"></div>

            <!-- Content -->
            <div class="col-md-6 p-5 p-lg-6">
                <h3 class="h3 bottommargin fw-medium px-lg-5">1. 100% Trustable & Best Quality</h3>
                <p class="m-0 px-lg-5">Compellingly cultivate synergistic infrastructures rather than fully tested opportunities. Synergistically evisculate web-enabled interfaces for market positioning web services. Continually create business infomediaries and interdependent products.</p>
            </div>
        </div>

        <div class="clear"></div>

        <!-- 2 -->
        <div
            class="row flex-md-row-reverse align-items-md-center">
            <!-- Image -->
            <div class="col-md-6 px-lg-0 min-vh-50 min-vh-lg-75 d-flex align-self-stretch" style="background: url('demos/furniture/images/about/2.jpg') no-repeat center center; background-size: cover;"></div>

            <!-- Content -->
            <div class="col-md-6 p-5 p-lg-6">
                <h3 class="h3 bottommargin fw-medium px-lg-5">2. No Extra Charges for Shipping</h3>
                <p class="m-0 px-lg-5">Continually aggregate scalable metrics for vertical paradigms. Rapidiously pontificate low-risk high-yield web-readiness via ethical e-business. Phosfluorescently actualize 24/365 architectures rather than multimedia based leadership skills. Collaboratively embrace go.</p>
            </div>
        </div>

        <div class="clear"></div>

        <!-- 3 -->
        <div
            class="row align-items-md-center">
            <!-- Image -->
            <div class="col-md-6 px-lg-0 min-vh-50 min-vh-lg-75 d-flex align-self-stretch" style="background: url('demos/furniture/images/about/3.jpg') no-repeat center center; background-size: cover;"></div>

            <!-- Content -->
            <div class="col-md-6 p-5 p-lg-6">
                <h3 class="h3 bottommargin fw-medium px-lg-5">3. Secure Payment Options</h3>
                <p class="m-0 px-lg-5">Continually aggregate scalable metrics for vertical paradigms. Rapidiously pontificate low-risk high-yield web-readiness via ethical e-business. Phosfluorescently actualize 24/365 architectures rather than multimedia based leadership skills. Collaboratively embrace go.</p>
            </div>
        </div>

        <div class="clear"></div>

        <!-- 4 -->
        <div
            class="row flex-md-row-reverse align-items-md-center">
            <!-- Image -->
            <div class="col-md-6 px-lg-0 min-vh-50 min-vh-lg-75 d-flex align-self-stretch" style="background: url('demos/furniture/images/about/4.jpg') no-repeat center center; background-size: cover;"></div>

            <!-- Content -->
            <div class="col-md-6 p-5 p-lg-6">
                <h3 class="h3 bottommargin fw-medium px-lg-5">4. 30 Days Return Policy</h3>
                <p class="m-0 px-lg-5">Continually aggregate scalable metrics for vertical paradigms. Rapidiously pontificate low-risk high-yield web-readiness via ethical e-business. Phosfluorescently actualize 24/365 architectures rather than multimedia based leadership skills. Collaboratively embrace go.</p>
            </div>
        </div>

    </div>
</div>
<!-- Section End -->
{% endif %}
