<!-- 2. Section Shop by Category
============================================= -->
<div
    class="container-fluid">

    <!-- Heading Title -->
    <div class="text-center mt-6 mb-5">
        <h2 class="h1 fw-normal mb-4">Mirar por
            <span data-animate="svg-underline-animated" class="svg-underline nocolor">
                <span>Categoría</span>
            </span>
        </h2>
        <a href="{{ path('listing', { 'contentTypeSlug': 'productos'} ) }}" class="button button-small button-border m-0 button-dark border-width-1 border-default px-4 h-bg-color">
            <i class="icon-line-grid"></i>
            Mirar todos</a>
    </div>

    <!-- Categories -->
    <div class="row item-categories gutter-20">
        <div class="col-lg-4 col-md-6">
            <a href="demo-forum-products.html" class="d-block h-op-09 op-ts" style="background: url('demos/furniture/images/categories/sofas.jpg') no-repeat center center; background-size: cover; height: 340px;">
                <h5 class="text-uppercase ls1 bg-white mb-0">Sofa</h5>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a href="demo-forum-products.html" class="d-block h-op-09 op-ts" style="background: url('demos/furniture/images/categories/tables.jpg') no-repeat center center; background-size: cover; height: 340px;">
                <h5 class="text-uppercase ls1 bg-white mb-0">Tables</h5>
            </a>
        </div>

        <div class="col-lg-4 col-md-6">
            <a href="demo-forum-products.html" class="d-block h-op-09 op-ts" style="background: url('demos/furniture/images/categories/chairs.jpg') no-repeat center center; background-size: cover; height: 340px;">
                <h5 class="text-uppercase ls1 bg-white mb-0">Chairs</h5>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a href="demo-forum-products.html" class="d-block h-op-09 op-ts" style="background: url('demos/furniture/images/categories/lights.jpg') no-repeat center center; background-size: cover; height: 340px;">
                <h5 class="text-uppercase ls1 bg-white mb-0">Lights</h5>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a href="demo-forum-products.html" class="d-block h-op-09 op-ts" style="background: url('demos/furniture/images/categories/wardrobes.jpg') no-repeat center center; background-size: cover; height: 340px;">
                <h5 class="text-uppercase ls1 bg-white mb-0">Wardrobes</h5>
            </a>
        </div>
        <div class="col-lg-4 col-md-6">
            <a href="demo-forum-products.html" class="d-block h-op-09 op-ts" style="background: url('demos/furniture/images/categories/beds.jpg') no-repeat center center; background-size: cover; height: 340px;">
                <h5 class="text-uppercase ls1 bg-white mb-0">Beds</h5>
            </a>
        </div>
    </div>

</div>
<!-- Section End -->
