{% set block = (content) %}

{% if block.visible == 1 %}
<!-- 4. Section Explore your Home & Office
============================================= -->
<div class="container-fluid">

    <div
        class="row align-items-lg-center col-mb-30">

        <!-- Image -->
        <div class="col-xl-8 col-lg-6 px-lg-0 min-vh-50 min-vh-lg-75" style="background: url('{{ block.image|thumbnail(1400, 900, fit='crop') }}') no-repeat center center; background-size: cover;"></div>

        <!-- Content -->
        <div class="col-xl-4 col-lg-6 px-lg-5 py-5">
            <h3 class="h1 mb-4 fw-normal">{{ block.title }}
                <span data-animate="svg-underline-animated" class="svg-underline nocolor">
                    <span>{{ block.subtitle }}</span>
                </span>
                </h3>
            <p>{{ block.description }}</p>
            <a href="demo-forum-about.html" class="button button-border m-0 button-dark border-width-1 border-default h-bg-color">Mirar todos
                <i class="icon-long-arrow-right"></i>
            </a>
        </div>
    </div>

</div>
<!-- Section End -->
{% endif %}
