<!-- 4. Section Explore your Home & Office
============================================= -->
<div class="container-fluid">

    <div
        class="row align-items-lg-center col-mb-30">

        <!-- Image -->
        <div class="col-xl-8 col-lg-6 px-lg-0 min-vh-50 min-vh-lg-75" style="background: url('demos/furniture/images/section.jpg') no-repeat center center; background-size: cover;"></div>

        <!-- Content -->
        <div class="col-xl-4 col-lg-6 px-lg-5 py-5">
            <h3 class="h1 mb-4 fw-normal">Explore your
                <span data-animate="svg-underline-animated" class="svg-underline nocolor">
                    <span>Home</span>
                </span>
                &
                <span data-animate="svg-underline-animated" data-delay="300" class="svg-underline nocolor">
                    <span>Office</span>
                </span>
                with our Furnitures</h3>
            <p>Compellingly cultivate synergistic infrastructures rather than fully tested opportunities. Synergistically evisculate web-enabled interfaces for market positioning web services. Continually create business infomediaries and interdependent products.</p>
            <a href="demo-forum-about.html" class="button button-border m-0 button-dark border-width-1 border-default h-bg-color">Discover Now
                <i class="icon-long-arrow-right"></i>
            </a>
        </div>
    </div>

</div>
<!-- Section End -->
